In [ ]:
#Importando las librerias con las que vamos a trabjar la geih
import pandas as pd 
import numpy as np

In [20]:
#Leyendo los datos de la geih a patir del repositorio del profesor 
df_cgsse = pd.read_csv("https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/refs/heads/main/Datos/GEIH2024/CGSSE.CSV"
                       ,encoding="latin", sep= ";") 
df_ft = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Fuerza%20de%20trabajo.CSV"
                       ,encoding="latin", sep= ";") 
df_ocuapdo = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Ocupados.CSV"
                       ,encoding="latin", sep= ";") 
df_no_ocupados = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/No%20ocupados.CSV"
                       ,encoding="latin", sep= ";")

/tmp/ipykernel_18405/2365468199.py:4: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ft = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Fuerza%20de%20trabajo.CSV"
/tmp/ipykernel_18405/2365468199.py:6: DtypeWarning: Columns (28,89,135,150,161) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ocuapdo = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Ocupados.CSV"

In [29]:
df_cgsse.head()

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
0,20240730,7,2024,7858603,1,1,1,10,NaN,2,...,2.0,NaN,4.0,1.0,NaN,NaN,NaN,2.0,1.0,1.0
1,20240730,7,2024,7858603,1,2,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
2,20240730,7,2024,7858603,1,3,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
3,20240730,7,2024,7858604,1,1,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
4,20240730,7,2024,7858604,1,2,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0